@media screen and (max-width:575px) {
  .container {
    padding: 0;
    min-width: 480px;
  }

  .resume-container {
    margin: 0;
  }
  
  .work-experience-section-container,
  .achievements-section,
  .publications-section-header,
  .contacts-section {
    margin-top: 50px;
  }

  .additional-section-container,
  .author-avatar-container {
      text-align: center;
  }

  .author-section-container div {
    float: none !important;
    text-align: center;
  }

  .author-section-info-title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .work-experience-section-container,
    .achievements-section,
    .publications-section-header,
    .contacts-section {
      margin-top: 50px;
    }
  
    .additional-section-container {
        text-align: center;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991px) {
    .work-experience-section-container,
    .achievements-section,
    .publications-section-header,
    .contacts-section {
      margin-top: 50px;
    }
  
    .additional-section-container {
      text-align: center;
    }
  }
  
  @media screen and (min-width:992px) and (max-width:1200px) {
    .work-experience-section-container,
    .achievements-section,
    .publications-section-header,
    .contacts-section {
      margin-top: 50px;
    }
  
    .additional-section-container {
      text-align: center;
    }
  
    .additional-section-social-container {
      margin-top: 20px;
    }
  }
  
  